.first-screen {
  background: url("../images/charlotte-park.jpeg") no-repeat center;
  background-size: cover;
  position: relative; }
.logo{
	font-size: 18px;
}
#meetMary {
  background-color: whitesmoke
}