.first-screen {
  background: url("../images/charlotte-park.jpeg") no-repeat center;
  background-size: cover;
  position: relative; }
.logo{
	font-size: 18px;
}
#meetMary {
  background-color: whitesmoke
}

@media only screen and (max-width: 768px) {
  .greetings-box-body {
    justify-self: center
  }
}
.greetings-box-body-alt {
  padding: 10px;
  color: white;
  border-radius: 6px;
  background-color:#eadd26;
  width: fit-content;
  display: inline-block;
  padding: 10px;
  color: white;
  border-radius: 6px;

}

.main-name {
  font-weight: bold;
  padding: 10px;
  border-radius: 6px}

  @media only screen and (max-width: 768px) {
    #realtorIcon {
      margin-top:10px
    }
}
@media only screen and (max-width: 992px) and (min-width: 768px){
  .sign-image {
    width: 750px;
    display: inline-block;
    position: relative;
    left: -15px;
    background-color: whitesmoke
  }
  img#marySign {
    float: right
  }
}

@media only screen and (min-width: 992px) {
  #memberships {
    padding-top: 60px
  }
}