/*------------------------------------------------------------------
[Table of contents]

 - global styles
 - Loader
 - header
 - first screen
 - content styles



- Project:	Restate - Multipurpose HTML Template
- Version:	1.0
- Author:  Andrey Sokoltsov
- Profile:	http://themeforest.net/user/andreysokoltsov

-------------------------------------------------------------------*/
a {
  color: inherit;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

a:hover,
a:active,
a:focus {
  color: inherit;
  outline: none !important;
  text-decoration: none; }

ul, ol, h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

button:active,
button:focus {
  outline: none !important;
  text-decoration: none; }

body {
  background: #fff; }

:focus {
  outline: none !important; }

/* Loader */
#page-preloader {
  position: fixed;
  z-index: 100500;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff; }

#page-preloader .spinner {
  position: absolute;
  z-index: 1001;
  top: 50%;
  left: 50%;
  display: block;
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  -webkit-animation: spin 2.5s infinite linear;
  animation: spin 2.5s infinite linear;
  border: 3px solid transparent;
  border-top-color: #222222;
  -webkit-border-radius: 50% !important;
  border-radius: 50% !important; }

#page-preloader .spinner:before, #page-preloader .spinner:after {
  position: absolute;
  content: '';
  -webkit-border-radius: 50%;
  border-radius: 50%; }

#page-preloader .spinner:before {
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  border: 3px solid transparent; }

#page-preloader .spinner:after {
  top: 15px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
  border: 3px solid transparent;
  border-top-color: #ccc; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

/* Loader */
/* Header */
.header {
  color: #fff;
  padding-top: 25px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100; }

.main-menu {
  margin-top: 5px;
  text-align: right; }

.main-menu ul {
  margin: 0 -20px;
  padding: 0; }

.main-menu ul li {
  padding: 0 20px;
  list-style: none;
  display: inline-block; }

.main-menu ul li a {
  position: relative; }

.main-menu ul li a:after {
  position: absolute;
  content: '';
  left: 0;
  bottom: -8px;
  width: 0;
  height: 2px;
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease; }

.main-menu ul li a:hover:after {
  width: 100%; }

.main-menu ul li a.phone-number:after {
  display: none; }

.mobile-btn {
  font-size: 20px;
  display: inline-block; }

.mob-menu-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
  z-index: 9999;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%); }

.mob-menu-wrapper > .container {
  height: 100%; }

.mob-menu-wrapper > .container > .row {
  height: 100%; }

.mob-menu-wrapper > .container > .row > .col-md-12 {
  height: 100%; }

.mob-menu-wrapper.active {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0); }

.mob-menu-wrapper .mobile-menu ul {
  padding: 0;
  margin: 0;
  min-height: 100%; }

.mob-menu-wrapper .mobile-menu ul li {
  padding: 0;
  margin-bottom: 30px;
  list-style: none;
  display: list-item; }

.mob-menu-wrapper .mobile-menu ul li a {
  color: #fff;
  display: inline-block; }

.mobile-box-wrap {
  height: 100%;
  overflow: auto;
  padding: 30px 0; }

.mobile-box-flex {
  min-height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.close-mob-menu {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 30px;
  right: 15px;
  z-index: 5;
  color: #fff;
  text-align: center;
  line-height: 20px;
  font-size: 20px; }

/* Header */
/* First screen */
.first-screen {
  background: url("../media/bg/main-bg.jpg") no-repeat center;
  background-size: cover;
  position: relative; }

.first-screen:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(19, 19, 19, 0.3);
  z-index: 1; }

.first-screen > div {
  position: relative;
  z-index: 2; }

.greetings-box {
  padding: 367px 0 101px;
  color: #fff; }

.main-name {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px; }

.main-social {
  display: inline-block;
  vertical-align: middle;
  margin-top: 5px; }

.main-social a {
  width: 30px;
  height: 30px;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background: #f8f8f8;
  display: inline-block;
  margin-right: 15px;
  color: #555555;
  text-align: center;
  line-height: 30px;
  -webkit-box-shadow: 0 3px 19px 8px rgba(77, 77, 77, 0.05);
  box-shadow: 0 3px 19px 8px rgba(77, 77, 77, 0.05);
  opacity: 0;
  -webkit-transition: opacity 2s ease, color 0.3s ease;
  transition: opacity 2s ease, color 0.3s ease; }

.main-social a:last-child {
  margin-right: 0; }

.main-social a.active {
  opacity: 1; }

.greetings-box-head {
  margin-bottom: 10px; }

.greetings-box-body {
  margin-bottom: 30px; }

.site-btn {
  padding: 15px 15px 11px;
  border: none;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-shadow: 0 3px 8.1px rgba(58, 58, 58, 0.09);
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
  text-align: center; }

.greetings-box-footer {
  position: relative; }

#free-consultation {
  width: 100%;
  max-width: 350px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; }

.consultation-form-wrapper {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }

.consultation-form-wrapper input[type=tel] {
  display: inline-block;
  vertical-align: bottom;
  color: #fff;
  width: 100%;
  max-width: 195px;
  background: none;
  border: none;
  border-bottom: 1px solid #fff;
  margin-right: 40px;
  padding: 0 0 8px; }

.consultation-form-wrapper input[type=tel]::-webkit-input-placeholder {
  color: #fff;
  opacity: 0.7; }

.consultation-form-wrapper input[type=tel]::-moz-placeholder {
  color: #fff;
  opacity: 0.7; }

.consultation-form-wrapper input[type=tel]:-moz-placeholder {
  color: #fff;
  opacity: 0.7; }

.consultation-form-wrapper input[type=tel]:-ms-input-placeholder {
  color: #fff;
  opacity: 0.7; }

.consultation-form-wrapper input[type=submit] {
  min-width: 115px;
  margin-left: -4px; }

/* First screen */
/* About section */
.about-section {
  padding: 130px 0; }

.about-image {
  margin: 30px 0 0 30px;
  position: relative; }

.about-image img {
  max-width: 100%;
  position: relative;
  z-index: 2; }

.about-image:before {
  content: '';
  position: absolute;
  top: -30px;
  left: -30px;
  border: 15px solid;
  width: 100%;
  height: 100%;
  z-index: 1; }

.about-text-box {
  margin-top: 30px; }

.about-text-box h2 {
  margin-bottom: 30px; }

.about-me {
  margin-bottom: 10px; }

.sign-box {
  position: relative;
  padding-right: 290px; }

.sign-box .sign-image {
  position: absolute;
  top: 5px;
  right: 88px; }

/* About section */
/* Featured properties */
.featured-properties {
  padding: 80px 0 100px;
  background: #f8f8f8; }

.section-title {
  margin-bottom: 50px; }

.house-box {
  margin-bottom: 30px;
  -webkit-box-shadow: 0 3px 6.48px 1.52px rgba(77, 77, 77, 0.05);
  box-shadow: 0 3px 6.48px 1.52px rgba(77, 77, 77, 0.05);
  display: block; }

.house-box:hover {
  -webkit-box-shadow: 0 3px 50.22px 11.78px rgba(77, 77, 77, 0.15);
  box-shadow: 0 3px 50.22px 11.78px rgba(77, 77, 77, 0.15); }

.house-img {
  position: relative; }

.house-img img {
  width: 100%; }

.house-img:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background: -webkit-linear-gradient(top, transparent 0%, transparent 55%, rgba(0, 0, 0, 0.65) 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(55%, transparent), to(rgba(0, 0, 0, 0.65)));
  background: linear-gradient(to bottom, transparent 0%, transparent 55%, rgba(0, 0, 0, 0.65) 100%);
  z-index: 1; }

.house-img .img-label {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 2;
  padding: 9px 12px 5px 12px;
  -webkit-box-shadow: 0 3px 5.67px 1.33px rgba(58, 58, 58, 0.11);
  box-shadow: 0 3px 5.67px 1.33px rgba(58, 58, 58, 0.11); }

.house-img .price-box {
  position: absolute;
  left: 20px;
  bottom: 20px;
  color: #fff;
  z-index: 2; }

.house-img .price-box .price-sqft {
  opacity: 0.8; }

.house-img .price-box .icofont {
  position: relative;
  bottom: 2px; }

.house-img .characters {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: #fff;
  z-index: 2; }

.house-text-box {
  padding: 15px 20px 25px;
  background: #fff; }

.house-text-box .house-name {
  margin-bottom: 5px; }

.house-text-box .house-name h4 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

.house-text-box .house-short-description {
  margin-bottom: 5px;
  height: 40px;
  overflow: hidden; }

.more-text {
  display: inline-block;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease; }

/* Featured properties */
/* Question section */
.question-section {
  background: url("../media/bg/bg-2.jpg") no-repeat center;
  background-size: cover;
  padding: 130px 0;
  position: relative; }

.question-section:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1; }

.question-section .question-text {
  position: relative;
  z-index: 2;
  text-align: center; }

.question-section .question-text a {
  background: #fff;
  line-height: 40px;
  padding: 0 7px 0 5px;
  display: inline-block; }

/* Question section */
/* Offers section */
.offers-section {
  padding: 130px 0 100px; }

.filter-row {
  margin-bottom: 47px; }

.filter-radio {
  margin-right: 80px;
  display: inline-block;
  vertical-align: top; }

.filter-radio label {
  cursor: pointer; }

.filter-radio input[type=radio] {
  display: none; }

.filter-radio input[type=radio] + label {
  position: relative;
  padding-right: 5px; }

.filter-radio input[type=radio] + label:after {
  position: absolute;
  content: '';
  bottom: -7px;
  left: 0;
  width: 0;
  height: 2px;
  z-index: 1;
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease; }

.filter-radio input[type=radio]:checked + label {
  position: relative; }

.filter-radio input[type=radio]:checked + label:after {
  width: 100%; }

.radio-wrap {
  display: inline-block;
  vertical-align: top;
  margin-right: 30px;
  position: relative; }

.radio-wrap:last-child {
  margin-right: 0; }

.radio-wrap .quantity {
  position: absolute;
  top: -5px;
  left: 100%; }

.filter-select {
  display: inline-block;
  vertical-align: top; }

.select-wrapper {
  min-width: 102px;
  display: inline-block;
  vertical-align: top; }

.select-wrapper:last-child {
  min-width: 175px; }

.select-wrap {
  position: relative;
  display: inline-block;
  vertical-align: top; }

.select-wrap label {
  cursor: pointer;
  position: relative; }

.select-wrap label:after {
  content: '';
  position: absolute;
  top: 0;
  right: -10px;
  width: 10px;
  height: 100%; }

.custom-select-wrapper {
  display: inline-block;
  vertical-align: top; }

.custom-select-ul {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  padding: 0;
  text-align: center;
  width: 100%;
  background: #fff;
  -webkit-box-shadow: 0 3px 6.48px 1.52px rgba(77, 77, 77, 0.05);
  box-shadow: 0 3px 6.48px 1.52px rgba(77, 77, 77, 0.05); }

.custom-select-ul li {
  list-style: none;
  padding: 8px 0;
  border-bottom: 1px solid #e8e8e8;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
  cursor: pointer; }

.custom-select-ul li:hover {
  background: #e8e8e8; }

.custom-select-ul li:last-child {
  border-bottom: none; }

.custom-select-button {
  cursor: pointer; }

.custom-select-button:after {
  content: '\eb73';
  font-family: 'icofont'; }

.custom-select-button.custom-select-opened:after {
  content: '\eb7a'; }

.filter-range {
  display: inline-block;
  vertical-align: top;
  margin-left: 40px;
  position: relative; }

.range-wrap label {
  cursor: pointer; }

.range-wrap label:after {
  content: '\eb73';
  font-family: 'icofont'; }

.range-box {
  position: absolute;
  -webkit-box-shadow: 0 3px 6.48px 1.52px rgba(77, 77, 77, 0.05);
  box-shadow: 0 3px 6.48px 1.52px rgba(77, 77, 77, 0.05);
  padding: 20px 15px 9px;
  z-index: 5;
  background: #fff;
  width: 180px;
  display: none; }

#slider-range {
  height: 5px;
  background: #dcdcdc;
  margin-bottom: 11px;
  cursor: pointer; }

.ui-slider-handle {
  width: 18px !important;
  height: 18px !important;
  background: #fff !important;
  -webkit-border-radius: 100% !important;
  border-radius: 100% !important;
  -webkit-box-shadow: 0 3px 6.48px 1.52px rgba(77, 77, 77, 0.14) !important;
  box-shadow: 0 3px 6.48px 1.52px rgba(77, 77, 77, 0.14) !important;
  top: -7px !important;
  cursor: pointer !important; }

.first-price {
  float: left; }

.last-price {
  float: right; }

.zeroResults-title {
  background-color: #f8f8f8;
  padding: 15px 30px; }

.zeroResults-body {
  padding: 30px;
  background-color: #fdfdfd; }

.zeroResults-text--large {
  margin: 0; }

/* Offers section */
/* Testimonials section */
.testimonials-section {
  padding: 80px 0;
  background: #f8f8f8; }

.testimonials-img {
  display: inline-block;
  vertical-align: top;
  width: 100px;
  height: 100px;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  overflow: hidden;
  margin-bottom: 30px; }

.testimonials-img img {
  width: 100%;
  height: 100%; }

.testimonials-text {
  margin-bottom: 10px; }

.testimonial-name {
  margin-bottom: 20px; }

.slick-dots {
  text-align: center;
  padding: 0;
  height: 8px; }

.slick-dots li {
  display: inline-block;
  vertical-align: top;
  list-style: none;
  margin-right: 15px; }

.slick-dots li button {
  background: #d0d0d0;
  border: none;
  font-size: 0;
  width: 8px;
  height: 8px;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  display: block;
  padding: 0;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease; }

.slick-dots li:last-child {
  margin-right: 0; }

/* Testimonials section */
/* Faq section */
.faq-section {
  padding: 130px 0; }

.panel-group {
  margin-bottom: 0; }

.panel {
  border: none !important;
  -webkit-box-shadow: 0 3px 7.29px 1.71px rgba(58, 58, 58, 0.07);
  box-shadow: 0 3px 7.29px 1.71px rgba(58, 58, 58, 0.07);
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease; }

.panel:hover {
  -webkit-box-shadow: 0 3px 39.69px 9.31px rgba(58, 58, 58, 0.11);
  box-shadow: 0 3px 39.69px 9.31px rgba(58, 58, 58, 0.11); }

.panel-group .panel + .panel {
  margin-top: 15px; }

.panel-heading {
  padding: 0; }

.panel-heading a {
  padding: 18px 68px 10px 15px;
  display: block;
  position: relative; }

.panel-heading a.collapsed {
  padding: 18px 68px 18px 15px; }

.panel-heading a.collapsed .icofont-arrow-up {
  display: none; }

.panel-heading a.collapsed .icofont-arrow-down {
  display: block; }

.panel-heading a .icofont {
  position: absolute;
  top: 20px;
  right: 20px; }

.panel-heading a .icofont-arrow-down {
  display: none; }

.panel-body {
  border: none !important;
  padding: 0 68px 52px 15px; }

.panel-body .opacity-box {
  opacity: 0.7; }

/* Faq section */
/* Contact section */
.contact-section {
  padding: 80px 0;
  background: #f8f8f8; }

.contact-section .section-title {
  margin-bottom: 30px; }

.contact-section .form-wrapper {
  margin-top: 20px; }

.description-section {
  max-width: 685px;
  margin: 0 auto 40px;
  text-align: center; }

.phone-bottom {
  margin-bottom: 30px; }

.form-wrapper .site-input {
  width: 100%;
  padding: 0 20px;
  height: 60px;
  border: none;
  display: block;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease; }

.form-wrapper .site-input::-webkit-input-placeholder {
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }

.form-wrapper .site-input::-moz-placeholder {
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }

.form-wrapper .site-input:-moz-placeholder {
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }

.form-wrapper .site-input:-ms-input-placeholder {
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }

.form-wrapper .site-input:focus {
  -webkit-box-shadow: 0 3px 10.53px 2.47px rgba(58, 58, 58, 0.09);
  box-shadow: 0 3px 10.53px 2.47px rgba(58, 58, 58, 0.09); }

.form-wrapper .site-input:focus::-webkit-input-placeholder {
  opacity: 0; }

.form-wrapper .site-input:focus::-moz-placeholder {
  opacity: 0; }

.form-wrapper .site-input:focus:-moz-placeholder {
  opacity: 0; }

.form-wrapper .site-input:focus:-ms-input-placeholder {
  opacity: 0; }

.form-wrapper textarea.site-input {
  resize: none;
  padding: 18px 20px;
  height: 120px; }

.form-wrapper .site-btn {
  width: 100%;
  margin-top: 5px; }

.form-wrapper .form-group.error .site-input {
  -webkit-box-shadow: 0 3px 10.53px 2.47px rgba(210, 7, 7, 0.12);
  box-shadow: 0 3px 10.53px 2.47px rgba(210, 7, 7, 0.12); }

/* Contact section */
/* First single screen */
.first-single-screen {
  background: url("../../images/charlotte-background.png") no-repeat center;
  background-size: cover;
  position: relative; }

.first-single-screen:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(19, 19, 19, 0.3);
  z-index: 1; }

.first-single-screen > div {
  position: relative;
  z-index: 2; }

.single-short-info {
  padding-top: 499px;
  padding-bottom: 100px;
  color: #fff; }

.single-address {
  margin-bottom: 5px; }

.divider-line {
  margin-bottom: 10px;
  width: 150px;
  height: 4px; }

.single-price {
  min-height: 30px; }

.single-header {
  padding-top: 30px; }

/* First single screen */
/* About  property section */
.about-property-section {
  padding: 130px 0; }

.about-property-section .section-title {
  margin-bottom: 30px; }

.about-property-section .description-section {
  max-width: 920px;
  margin-bottom: 50px; }

.single-slider {
  margin-bottom: 79px; }

.single-slider .slick-list {
  margin-bottom: 30px; }

.single-slider .slick-list:before {
  position: absolute;
  content: '';
  top: 0;
  left: 50%;
  margin-left: -570px;
  width: 263px;
  height: 100%;
  background: -webkit-linear-gradient(left, white 0%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-gradient(linear, left top, right top, from(white), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  z-index: 1; }

.single-slider .slick-list:after {
  position: absolute;
  content: '';
  top: 0;
  right: 50%;
  margin-right: -570px;
  width: 263px;
  height: 100%;
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 100%);
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(white));
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 100%);
  z-index: 1; }

.single-slider .slick-prev {
  position: absolute;
  top: 41%;
  left: 50%;
  z-index: 5;
  margin-left: -275px;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease; }

.single-slider .slick-next {
  position: absolute;
  top: 41%;
  right: 50%;
  z-index: 5;
  margin-right: -275px;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease; }

.single-slider.small-single-slider .single-slider-item {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  text-align: center; }

.single-slider.small-single-slider .single-slider-item img {
  display: inline-block; }

.single-slider-item {
  margin: 0 -8px;
  -webkit-transform: scale(0.8333);
  -ms-transform: scale(0.8333);
  transform: scale(0.8333);
  -webkit-transition: -webkit-transform 0.8s ease;
  transition: -webkit-transform 0.8s ease;
  transition: transform 0.8s ease;
  transition: transform 0.8s ease, -webkit-transform 0.8s ease; }

.single-slider-item.slick-center {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }

.single-small-info-box {
  padding-left: 70px;
  position: relative; }

.single-small-info-box img {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 60px; }

.info-box-title {
  margin-bottom: 10px; }

/* About property section */
/* Property information section */
.property-information-wrapper {
  padding: 80px 0 78px;
  height: 100%; }

.flex-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 638px; }

.flex-box > div {
  padding: 0; }

.property-information-box {
  max-width: 640px;
  margin: auto;
  padding: 0 20px; }

.information-box-title {
  margin-bottom: 20px; }

.information-box {
  margin-bottom: 15px; }

.information-box:last-child {
  margin-bottom: 0; }

.information-box ul {
  padding: 0; }

.information-box ul li {
  display: inline-block;
  vertical-align: top;
  width: 32.5%;
  list-style: none;
  margin-bottom: 15px; }

#map {
  height: 100%; }

/* Property information section */
/* Video tour section */
.video-tour-section {
  padding: 130px 0 118px; }

.video-tour-section .section-title {
  margin-bottom: 32px; }

.video-tour-section .description-section {
  max-width: 920px;
  margin-bottom: 50px; }

.video-box {
  width: 100%;
  padding: 28.89% 0;
  position: relative;
  z-index: 2;
  background: url("../media/video-box/video.jpg") no-repeat center;
  background-size: cover;
  cursor: pointer; }

.video-box .iframe-wrap {
  display: none; }

.video-box iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.video-box .play-icon {
  width: 60px;
  height: 40px;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease; }

.video-box:hover .play-icon {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2); }

/* Video tour section */
/* Footer */
.footer {
  padding: 18px 0; }

/* Footer */

/*# sourceMappingURL=maps/theme.css.map */
