body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300; }

h1 {
  font-size: 60px;
  line-height: 1.2;
  font-family: "Poppins", sans-serif;
  font-weight: 700; }

h2 {
  font-size: 24px;
  line-height: 1.25;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-transform: uppercase; }

h3 {
  font-size: 30px;
  line-height: 1.6;
  font-family: "Poppins", sans-serif;
  font-weight: 700; }

h4 {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  font-weight: 600; }

.logo {
  font-size: 24px;
  line-height: 1.25;
  font-family: "Poppins", sans-serif;
  font-weight: 700; }

.main-menu ul {
  font-size: 0; }

.main-menu ul li a {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px; }

.main-menu ul li a.phone-number {
  font-family: "Roboto", sans-serif; }

.greetings-box-body {
  font-weight: 300; }

.site-btn {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 700; }

.consultation-form-wrapper input[type=tel] {
  font-size: 12px;
  line-height: 2;
  font-family: "Poppins", sans-serif; }

.sign-box, .about-me {
  font-weight: 300; }

.house-img .img-label {
  font-size: 10px;
  text-transform: uppercase;
  line-height: 1.6;
  font-family: "Poppins", sans-serif;
  font-weight: 700; }

.house-img .price {
  font-size: 24px;
  line-height: 1;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-transform: uppercase; }

.house-img .price .icofont {
  font-size: 18px; }

.house-img .price-sqft {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px; }

.house-img .characters {
  font-weight: 300;
  font-size: 14px;
  line-height: 18px; }

.house-text-box .house-short-description {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px; }

.more-details {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 700; }

.question-section .question-text {
  position: relative;
  z-index: 2; }

.testimonial-name {
  font-weight: 400; }

.panel-heading a {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

.panel-heading a .icofont {
  font-size: 24px; }

.phone-top {
  font-size: 14px;
  line-height: 24px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 700; }

.phone-bottom {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400; }

.form-wrapper .site-input {
  font-size: 14px; }

.copyright {
  font-size: 12px;
  line-height: 2; }

.single-price {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700; }

.back-home {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px; }

.info-box-title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-transform: uppercase; }

.information-box-title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-transform: uppercase; }

.information-box ul li {
  font-weight: 400; }

.title-span {
  font-weight: 700; }

.radio-wrap label {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase; }

.radio-wrap .quantity {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px; }

.select-wrap label {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase; }

.custom-select-button {
  font-weight: 100; }

.custom-select-ul li {
  font-size: 14px;
  line-height: 12px; }

.range-wrap label {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase; }

.first-price, .last-price {
  font-size: 14px;
  line-height: 12px; }

.panel-body {
  font-size: 14px; }

.zeroResults-title {
  font-size: 29px;
  font-weight: 300; }

.zeroResults-text--large {
  font-size: 21px;
  font-weight: 300; }

.zeroResults-text--small {
  font-size: 17px; }

/*# sourceMappingURL=maps/typography.css.map */
